/*****
メイン
******/
.main {
  padding: 10px 0 0;
}


/*******************
今日の干支コンテンツ
*******************/
.today_this_year_zodiac_data {

}
.today_this_year_zodiac_data p {
	text-align: center;
}
.today_this_year_zodiac_data .this_bold {
    color: dodgerblue;
    font-size: 135%;
    font-weight: bold;
}
/*****************
セクションブロック
*****************/
.section_block {
	text-align: center;
	margin: 0 0 30px;
}
.section_block h2 {
    background-color: slategrey;
    color: #eeeeee;
		margin: 0 0 15px;
    padding: 5px;
    text-align: center;
}
.section_block .this_bold {
    color: dodgerblue;
    font-size: 135%;
    font-weight: bold;
}
/*******************
干支を調べるフォーム
*******************/
.zodiac_check_form {

}
.zodiac_check_form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: rgba(0, 0, 0, 0) url("http://zodiac.ninja/assets/img/common/allow_button_2.png") no-repeat scroll right center / 18px auto;
    border: 1px solid #777777;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    height: 38px;
    margin: 0;
    position: relative;
    top: -1px;
    padding: 5px 20px 5px 5px;
    width: 70px;
}
.zodiac_check_form select option {
	padding: 5px;
}

.zodiac_check_form input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #1f2f46;
	border: 1px solid #1f2f46;
	border-radius: 3px;
	color: #f7f7f7;
	cursor: pointer;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 10px;
}


/***************
テーブル
***************/
.zodiac_table_content {
    margin: 0 auto;
    width: 690px;
}
.zodiac_table_left {
    float: left;
    margin: 0 30px 0 0;
}
.zodiac_table_right {
    float: right;
    margin: 0 30px 0 0;
}

.table_type_1 {
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 2px;
	box-sizing: border-box;
	display: table;
	text-indent: 0;
	border-collapse: collapse;
	font-size: 100%;
	margin-bottom: 11px;
	text-align: center;
	width: 315px;
}


.able_type_1 tbody {
    display: table-row-group;
    vertical-align: middle;
}

.table_type_1 tr {
    display: table-row;
    vertical-align: inherit;
}
.table_type_1 th {
    background: #1E90FF none repeat scroll 0 0;
    border: thin solid #333;
    color: #f7f7f7;
}
.table_type_1 td {
    display: table-cell;
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit;
    border: thin solid #333;
    margin: 0;
    padding: 2px;
}
.table_type_1 td.td3 {
    border: thin solid #333;
    margin: 0;
    padding: 2px;
    background: #a7ddff none repeat scroll 0 0;
    font-weight: 700;
}
/**************

************/
.zodiac_episorde {
	margin: 30px auto 0;
    position: relative;
    width: 90%;
}
.zodiac_episorde ul {
list-style: outside none none;
padding :0;
margin: 0;
}
.zodiac_episorde li {
    border: 1px solid #f6f8fa;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    list-style: outside none none;
    margin: 0 4% 30px 0;
    position: relative;
    width: 21%;
		box-shadow: 0 4px 0 #f3f4f8;
}
.zodiac_episorde li a {
	color: #333333;
}



.zodiac_episorde li .zodiac_episorde_contents {
    position: relative;
}
.zodiac_episorde li .zodiac_episorde_contents .zodiac_episorde_contents_bottom {
	height: 230px;
	padding: 10px;
}

.zodiac_episorde li .zodiac_episorde_contents .zodiac_episorde_contents_bottom h1 {

}
.zodiac_episorde li .zodiac_episorde_contents .zodiac_episorde_contents_bottom .zodiac_episorde_contents_summary {
	text-align: left;
}
.zodiac_episorde li .zodiac_episorde_contents figure {
		border-radius: 2px;
    margin: 0;
    position: relative;
}
.zodiac_episorde li .zodiac_episorde_contents figure img {
	border-radius: 2px;
	width: 100%;
	height: auto;
}




@media screen and (min-width: 0px) and (max-width: 768px) {
	.zodiac_episorde {
	    width: 98%;
	}
	.zodiac_episorde li {
	    margin: 0 2% 30px;
	    width: 46%;
			overflow: hidden;
	}
}



@media screen and (min-width: 0px) and (max-width: 653px) {


	.zodiac_table_content {
	    width: auto;
	}
	.zodiac_table_left {
	    float: none;
	    margin: 0;
	}
	.zodiac_table_right {
	    float: none;
	    margin: -11px 0 0 0;
	}
	.table_type_1 {
	    width: 318px;
	}
	.zodiac_table_right .table_type_1 th {
	    background: #1e90ff none repeat scroll 0 0;
	    border: thin solid #333;
	    color: #f7f7f7;
	    display: none;
	}
}


@media screen and (min-width: 0px) and (max-width: 480px) {
.zodiac_episorde li .zodiac_episorde_contents .zodiac_episorde_contents_bottom h1 {
    font-size: 115%;
}
	.zodiac_episorde li .zodiac_episorde_contents .zodiac_episorde_contents_bottom {
	    height: 180px;
	}
}


@media screen and (min-width: 0px) and (max-width: 414px) {


}

@media screen and (min-width: 0px) and (max-width: 375px) {


}
@media screen and (min-width: 0px) and (max-width: 320px) {


	.zodiac_episorde li .zodiac_episorde_contents .zodiac_episorde_contents_bottom {
	    height: 120px;
	}









}
